<div class="container">
    <h1 class="title">Lista de Produtos</h1>
  
    <input [(ngModel)]="searchTerm" placeholder="Buscar produto" (input)="searchUser()" />
  
    <table class="product-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Estoque</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of filteredProducts">
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price | currency:'BRL' }}</td>
          <td>{{ product.stock }}</td>
          <td>
            <button (click)="deleteProduct(product.id)">Deletar</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <p *ngIf="filteredProducts.length === 0">Nenhum produto disponível.</p>
  
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
  